@charset "UTF-8";
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/*! normalize.css v3.0.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
/* line 9, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_html5.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 29, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_html5.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 40, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_html5.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 47, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_html5.scss */
[hidden],
template {
  display: none;
}

/*! normalize.css v3.0.0 | Base | MIT License | git.io/normalize */
/* line 11, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_base.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 19, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_base.scss */
body {
  margin: 0;
}

/*! normalize.css v3.0.0 | Links | MIT License | git.io/normalize */
/* line 9, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_links.scss */
a {
  background: transparent;
}

/* line 15, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_links.scss */
a:active,
a:hover {
  outline: 0;
}

/*! normalize.css v3.0.0 | Typography | MIT License | git.io/normalize */
/* line 9, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 15, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
b,
strong {
  font-weight: bold;
}

/* line 22, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
dfn {
  font-style: italic;
}

/* line 29, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 36, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 43, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
small {
  font-size: 80%;
}

/* line 49, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 57, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
sup {
  top: -0.5em;
}

/* line 61, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
sub {
  bottom: -0.25em;
}

/*! normalize.css v3.0.0 | Embedded Content | MIT License | git.io/normalize */
/* line 9, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_embeds.scss */
img {
  border: 0;
}

/* line 15, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_embeds.scss */
svg:not(:root) {
  overflow: hidden;
}

/*! normalize.css v3.0.0 | Figures | MIT License | git.io/normalize */
/* line 9, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_groups.scss */
figure {
  margin: 1em 40px;
}

/* line 15, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_groups.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 23, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_groups.scss */
pre {
  overflow: auto;
}

/* line 29, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_groups.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/*! normalize.css v3.0.0 | Forms | MIT License | git.io/normalize */
/* line 15, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 27, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button {
  overflow: visible;
}

/* line 36, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button,
select {
  text-transform: none;
}

/* line 47, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 57, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 64, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 73, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input {
  line-height: normal;
}

/* line 83, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 93, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 102, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 113, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 120, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 129, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 136, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
textarea {
  overflow: auto;
}

/* line 143, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
optgroup {
  font-weight: bold;
}

/*! normalize.css v3.0.0 | Tables | MIT License | git.io/normalize */
/* line 9, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_tables.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 14, ../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-normalize-1.5/stylesheets/normalize/_tables.scss */
td,
th {
  padding: 0;
}

/* line 6, ../src/scss/global/_reset.scss */
html {
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 13, ../src/scss/global/_reset.scss */
html,
button,
input,
select,
textarea {
  font-family: "Varela Round", sans-serif;
  color: #999;
}

/* line 22, ../src/scss/global/_reset.scss */
body {
  margin: 0;
  background: #EEE;
  font-size: 16px;
  line-height: 1.4;
  overflow-x: hidden;
}

/* line 31, ../src/scss/global/_reset.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 37, ../src/scss/global/_reset.scss */
a {
  color: #95CE5C;
  text-decoration: none;
}

/* line 42, ../src/scss/global/_reset.scss */
a:focus,
a:hover {
  color: #95CE5C;
}

/* line 52, ../src/scss/global/_reset.scss */
a:active,
a:hover,
a:focus {
  outline: 0;
}

/* line 60, ../src/scss/global/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 16px;
  line-height: 24px;
}

/* line 65, ../src/scss/global/_reset.scss */
h1 {
  font-size: 32px;
}

/* line 69, ../src/scss/global/_reset.scss */
h2 {
  font-size: 27.2px;
}

/* line 73, ../src/scss/global/_reset.scss */
h3 {
  font-size: 22.4px;
}

/* line 77, ../src/scss/global/_reset.scss */
h4 {
  font-size: 17.6px;
  font-weight: normal;
}

/* line 82, ../src/scss/global/_reset.scss */
h5 {
  font-size: 14.4px;
}

/* line 86, ../src/scss/global/_reset.scss */
h6 {
  font-size: 11.2px;
}

/* line 93, ../src/scss/global/_reset.scss */
nav ul {
  margin: 0;
  padding: 0;
}

/* line 101, ../src/scss/global/_reset.scss */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 107, ../src/scss/global/_reset.scss */
td,
th {
  padding: 0;
}

/* line 112, ../src/scss/global/_reset.scss */
td {
  vertical-align: top;
}

@media print {
  /* line 122, ../src/scss/global/_reset.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 129, ../src/scss/global/_reset.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 134, ../src/scss/global/_reset.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 138, ../src/scss/global/_reset.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 142, ../src/scss/global/_reset.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 148, ../src/scss/global/_reset.scss */
  pre,
  blockquote {
    page-break-inside: avoid;
  }

  /* line 154, ../src/scss/global/_reset.scss */
  thead {
    display: table-header-group;
  }

  /* line 158, ../src/scss/global/_reset.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 163, ../src/scss/global/_reset.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 171, ../src/scss/global/_reset.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 178, ../src/scss/global/_reset.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
@font-face {
  font-family: 'icons-gelsaude';
  src: url("../font/icons-gelsaude.eot?12718288");
  src: url("../font/icons-gelsaude.eot?12718288#iefix") format("embedded-opentype"), url("../font/icons-gelsaude.woff2?12718288") format("woff2"), url("../font/icons-gelsaude.woff?12718288") format("woff"), url("../font/icons-gelsaude.ttf?12718288") format("truetype"), url("../font/icons-gelsaude.svg?12718288#icons-gelsaude") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons-gelsaude';
    src: url('../font/icons-gelsaude.svg?12718288#icons-gelsaude') format('svg');
  }
}
*/
/* line 23, ../src/scss/global/_icons.scss */
[class^="icon-"]:before, [class*=" icon-"]:before,
.contact-icon {
  font-family: "icons-gelsaude";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 55, ../src/scss/global/_icons.scss */
.icon-twitter:before {
  content: '\e800';
}

/* '' */
/* line 56, ../src/scss/global/_icons.scss */
.icon-linkedin:before {
  content: '\e801';
}

/* '' */
/* line 57, ../src/scss/global/_icons.scss */
.icon-left-arrow:before {
  content: '\e802';
}

/* '' */
/* line 58, ../src/scss/global/_icons.scss */
.icon-gplus:before {
  content: '\e803';
}

/* '' */
/* line 59, ../src/scss/global/_icons.scss */
.icon-youtube:before {
  content: '\e804';
}

/* '' */
/* line 60, ../src/scss/global/_icons.scss */
.icon-facebook:before {
  content: '\e805';
}

/* '' */
/* line 61, ../src/scss/global/_icons.scss */
.icon-phone:before {
  content: '\e806';
}

/* '' */
/* line 62, ../src/scss/global/_icons.scss */
.icon-right-arrow:before {
  content: '\e807';
}

/* '' */
/* line 63, ../src/scss/global/_icons.scss */
.icon-instagram:before {
  content: '\e808';
}

/* '' */
/* line 64, ../src/scss/global/_icons.scss */
.icon-location:before {
  content: '\e809';
}

/* '' */
/* line 65, ../src/scss/global/_icons.scss */
.icon-arroba:before {
  content: '\e80a';
}

/* '' */
/* line 66, ../src/scss/global/_icons.scss */
.icon-down:before {
  content: '\e80b';
}

/* '' */
/* line 5, ../src/scss/global/_helpers.scss */
.post-edit-link {
  display: none;
}

/* line 11, ../src/scss/global/_helpers.scss */
.clearfix:before, .content-width:before, .contact-section:before, .clearfix:after, .content-width:after, .contact-section:after {
  content: "";
  display: table;
}
/* line 16, ../src/scss/global/_helpers.scss */
.clearfix:after, .content-width:after, .contact-section:after {
  clear: both;
}

/* line 22, ../src/scss/global/_helpers.scss */
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* line 30, ../src/scss/global/_helpers.scss */
.aligncenter {
  display: block;
  margin: 0 auto;
}

/* line 38, ../src/scss/global/_helpers.scss */
.title-bar {
  position: relative;
  top: 0px;
  left: 90px;
  display: inline-block;
  height: 65px;
  margin: 0;
  padding: 0 10px;
  font-size: 24px;
  line-height: 64px;
  background: url("../image/product-display.png") no-repeat center;
  color: #999;
}
/* line 51, ../src/scss/global/_helpers.scss */
.title-bar.center {
  left: auto;
  display: table;
  margin: 0 auto;
  font-weight: 400;
  font-size: 22px;
}
/* line 59, ../src/scss/global/_helpers.scss */
.title-bar a {
  color: inherit;
}
/* line 62, ../src/scss/global/_helpers.scss */
.title-bar a:hover {
  color: #95CE5C;
}
/* line 67, ../src/scss/global/_helpers.scss */
.title-bar:after, .title-bar:before {
  content: "";
  position: absolute;
  top: 0;
  width: 45px;
  height: 65px;
}
/* line 76, ../src/scss/global/_helpers.scss */
.title-bar:after {
  right: -45px;
  background: url("../image/product-display.png") no-repeat center right;
}
/* line 81, ../src/scss/global/_helpers.scss */
.title-bar:before {
  left: -45px;
  background: url("../image/product-display.png") no-repeat center left;
}

/* line 9, ../src/scss/global/_structure.scss */
.content-width {
  max-width: 1140px;
  min-width: 800px;
  width: 100%;
  margin: 0 auto;
}

/* line 24, ../src/scss/global/_structure.scss */
.content-wrapper,
.section-wrapper,
.content-wrapper {
  padding: 20px 60px;
}

/* line 38, ../src/scss/global/_structure.scss */
.contact-section {
  color: #FFF;
  background: #95CE5C;
}
/* line 44, ../src/scss/global/_structure.scss */
.contact-section .the-content {
  margin-bottom: 60px;
}
/* line 48, ../src/scss/global/_structure.scss */
.contact-section .column-info {
  float: left;
  width: 38%;
}
/* line 53, ../src/scss/global/_structure.scss */
.contact-section .column-form {
  float: right;
  width: 60%;
}

/* line 10, ../src/scss/global/_form.scss */
.input, textarea,
input[type="text"],
input[type="search"],
textarea {
  padding: 4px;
  height: 30px;
  border: 1px solid #DDD;
  background: #F9F9F9;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
/* line 22, ../src/scss/global/_form.scss */
.input:focus, textarea:focus,
input[type="text"]:focus,
input[type="search"]:focus,
textarea:focus {
  outline: none;
  background: #FFF;
  border-color: #95CE5C;
}

/* line 29, ../src/scss/global/_form.scss */
textarea {
  height: auto;
}

/* line 36, ../src/scss/global/_form.scss */
.btn,
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  color: #FFF;
  padding: 6px 12px;
  height: 30px;
  background: #95CE5C;
  border: 1px solid transparent;
  border-bottom-color: #7cbe39;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
/* line 49, ../src/scss/global/_form.scss */
.btn:hover, .btn:focus,
button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus {
  outline: none;
  background: #88c848;
}
/* line 55, ../src/scss/global/_form.scss */
.btn:active,
button:active,
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
  background: #95CE5C;
  border-bottom-color: transparent;
  border-top-color: #62972d;
}

/* line 26, ../src/scss/component/_header.scss */
body {
  padding-top: 100px;
}

/* line 31, ../src/scss/component/_header.scss */
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: #FFF;
  z-index: 10;
  -moz-transition: box-shadow 0.4s ease-out;
  -o-transition: box-shadow 0.4s ease-out;
  -webkit-transition: box-shadow 0.4s ease-out;
  transition: box-shadow 0.4s ease-out;
  -moz-box-shadow: 0 0px 0px transparent;
  -webkit-box-shadow: 0 0px 0px transparent;
  box-shadow: 0 0px 0px transparent;
}
/* line 42, ../src/scss/component/_header.scss */
.site-header.shadow {
  -moz-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* line 49, ../src/scss/component/_header.scss */
.header-title {
  float: left;
  width: 20%;
  height: 100px;
  margin: 0;
  padding: 10px;
  font-size: 21px;
  text-align: center;
  text-decoration: none;
  line-height: 100px;
}

/* line 61, ../src/scss/component/_header.scss */
.header-logo {
  display: block;
  height: 100%;
  font-size: 0;
  background: url("../image/logo-gel-e-saude.png") no-repeat center;
  background-size: auto 100%;
}
@media (max-width: 992px) {
  /* line 61, ../src/scss/component/_header.scss */
  .header-logo {
    background-size: 80%;
  }
}

/* line 75, ../src/scss/component/_header.scss */
.left-nav,
.right-nav {
  width: 40%;
  display: table;
  padding: 25px 0;
}

/* line 83, ../src/scss/component/_header.scss */
.left-list,
.right-list {
  display: table-row;
}

/* line 88, ../src/scss/component/_header.scss */
.left-nav {
  float: left;
}

/* line 92, ../src/scss/component/_header.scss */
.right-nav {
  float: right;
}

/* line 96, ../src/scss/component/_header.scss */
.menu-item {
  display: table-cell;
}
/* line 100, ../src/scss/component/_header.scss */
.menu-item a {
  display: block;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  color: #999;
  white-space: nowrap;
}
/* line 110, ../src/scss/component/_header.scss */
.menu-item a:hover {
  color: #95CE5C;
}
@media (max-width: 992px) {
  /* line 100, ../src/scss/component/_header.scss */
  .menu-item a {
    font-size: 17px;
  }
}
@media (max-width: 820px) {
  /* line 100, ../src/scss/component/_header.scss */
  .menu-item a {
    font-size: 15px;
  }
}

/* line 127, ../src/scss/component/_header.scss */
.menu-item-has-children .sub-menu {
  display: none;
}
/* line 131, ../src/scss/component/_header.scss */
.menu-item-has-children .menu-item {
  display: block;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
}
/* line 135, ../src/scss/component/_header.scss */
.menu-item-has-children .menu-item a {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}
@media (max-width: 992px) {
  /* line 135, ../src/scss/component/_header.scss */
  .menu-item-has-children .menu-item a {
    font-size: 14px;
  }
}
@media (max-width: 820px) {
  /* line 135, ../src/scss/component/_header.scss */
  .menu-item-has-children .menu-item a {
    font-size: 12px;
  }
}
/* line 151, ../src/scss/component/_header.scss */
.menu-item-has-children:hover {
  background: #95CE5C;
  -moz-box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
}
/* line 155, ../src/scss/component/_header.scss */
.menu-item-has-children:hover a {
  color: #FFF;
}
/* line 159, ../src/scss/component/_header.scss */
.menu-item-has-children:hover .sub-menu {
  display: block;
}
/* line 162, ../src/scss/component/_header.scss */
.menu-item-has-children:hover .sub-menu a {
  color: rgba(255, 255, 255, 0.6);
}
/* line 165, ../src/scss/component/_header.scss */
.menu-item-has-children:hover .sub-menu a:hover {
  background: #95CE5C;
  color: #FFF;
  font-weight: bold;
}

/* line 11, ../src/scss/component/_footer.scss */
.site-footer {
  color: #FFF;
}
/* line 14, ../src/scss/component/_footer.scss */
.site-footer a {
  color: inherit;
}
/* line 17, ../src/scss/component/_footer.scss */
.site-footer a:hover {
  text-decoration: underline;
}
@media (max-width: 992px) {
  /* line 11, ../src/scss/component/_footer.scss */
  .site-footer {
    font-size: 14px;
  }
}

/* line 31, ../src/scss/component/_footer.scss */
.footer-bar {
  min-height: 200px;
  background: #F55D6F;
  padding: 20px 0;
}
/* line 36, ../src/scss/component/_footer.scss */
.footer-bar .content-width {
  display: table;
  height: 100%;
}
/* line 41, ../src/scss/component/_footer.scss */
.footer-bar .footer-info {
  display: table-row;
}

/* line 46, ../src/scss/component/_footer.scss */
.footer-logo-area,
.footer-contact-area,
.footer-social-area {
  display: table-cell;
  height: 130px;
}

/* line 55, ../src/scss/component/_footer.scss */
.footer-logo-area {
  width: 30%;
}
/* line 58, ../src/scss/component/_footer.scss */
.footer-logo-area .logo-footer {
  display: block;
  width: 200px;
  height: inherit;
  background: url("../image/logo-gel-e-saude-footer.png") no-repeat center;
  margin: 0 auto;
  font-size: 0;
}

/* line 69, ../src/scss/component/_footer.scss */
.footer-contact-area {
  width: 40%;
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
}
/* line 77, ../src/scss/component/_footer.scss */
.footer-contact-area .contact-content {
  width: 300px;
  margin: 0 auto;
}
@media (max-width: 992px) {
  /* line 77, ../src/scss/component/_footer.scss */
  .footer-contact-area .contact-content {
    width: 260px;
  }
}
/* line 86, ../src/scss/component/_footer.scss */
.footer-contact-area .contact-title {
  font-size: 21px;
}
@media (max-width: 992px) {
  /* line 86, ../src/scss/component/_footer.scss */
  .footer-contact-area .contact-title {
    font-size: 19px;
  }
}
/* line 94, ../src/scss/component/_footer.scss */
.footer-contact-area .contact-title,
.footer-contact-area .contact-text {
  margin: 0px;
}

/* line 103, ../src/scss/component/_footer.scss */
.footer-social-area {
  width: 30%;
}

/* line 107, ../src/scss/component/_footer.scss */
.social-content {
  width: 220px;
  margin: 0 auto;
}
@media (max-width: 992px) {
  /* line 107, ../src/scss/component/_footer.scss */
  .social-content {
    width: 200px;
  }
}

/* line 116, ../src/scss/component/_footer.scss */
.social-title {
  font-size: 21px;
  margin: 0 0 10px;
}
@media (max-width: 992px) {
  /* line 116, ../src/scss/component/_footer.scss */
  .social-title {
    font-size: 19px;
  }
}

/* line 125, ../src/scss/component/_footer.scss */
.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 131, ../src/scss/component/_footer.scss */
.social-item {
  position: relative;
  display: inline-block;
  margin: 2px;
}
@media (max-width: 992px) {
  /* line 131, ../src/scss/component/_footer.scss */
  .social-item {
    margin: 4px 12px;
  }
}

/* line 141, ../src/scss/component/_footer.scss */
.social-link {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  font-size: 0;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 149, ../src/scss/component/_footer.scss */
.social-link:hover {
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -moz-box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}
/* line 154, ../src/scss/component/_footer.scss */
.social-link .icon {
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  font-size: 14px;
  padding: 3px;
  background: #BBB;
  background: #FFF;
  color: #F55D6F;
}
@media (max-width: 992px) {
  /* line 154, ../src/scss/component/_footer.scss */
  .social-link .icon {
    width: 32px;
    height: 32px;
    font-size: 19px;
  }
}

/* line 176, ../src/scss/component/_footer.scss */
.copyright-bar {
  height: 60px;
  background: #DB5161;
}
/* line 180, ../src/scss/component/_footer.scss */
.copyright-bar p {
  margin: 0;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.5px;
  margin-top: 23px;
}

/* line 2, ../src/scss/component/_carousel.scss */
.carousel-slider {
  min-height: 452px;
  background: #FFF;
}
/* line 6, ../src/scss/component/_carousel.scss */
.carousel-slider .carousel-link {
  display: block;
}
/* line 10, ../src/scss/component/_carousel.scss */
.carousel-slider .size-full,
.carousel-slider img {
  width: 100%;
  height: auto;
  display: block;
}

/* line 20, ../src/scss/component/_carousel.scss */
.owl-controls {
  text-align: center;
  height: 0;
}

/* line 25, ../src/scss/component/_carousel.scss */
.owl-pagination {
  display: inline-block;
  position: relative;
  top: -35px;
  padding: 4px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

/* line 34, ../src/scss/component/_carousel.scss */
.owl-page {
  float: left;
  cursor: pointer;
  zoom: 1;
}
/* line 39, ../src/scss/component/_carousel.scss */
.owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 6px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 2px solid #FFF;
  background: #999;
}
/* line 52, ../src/scss/component/_carousel.scss */
.owl-page.active span {
  background: #95CE5C;
}

/*
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */
/* clearfix */
/* line 68, ../src/scss/component/_carousel.scss */
.carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* display none until init */
/* line 77, ../src/scss/component/_carousel.scss */
.carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}

/* line 83, ../src/scss/component/_carousel.scss */
.carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

/* line 88, ../src/scss/component/_carousel.scss */
.carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* line 93, ../src/scss/component/_carousel.scss */
.carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* line 101, ../src/scss/component/_carousel.scss */
.carousel .owl-item {
  float: left;
}

/* line 104, ../src/scss/component/_carousel.scss */
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}

/* line 108, ../src/scss/component/_carousel.scss */
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* mouse grab icon */
/* line 118, ../src/scss/component/_carousel.scss */
.grabbing {
  cursor: url(grabbing.png) 8 8, move;
}

/* fix */
/* line 123, ../src/scss/component/_carousel.scss */
.carousel .owl-wrapper,
.carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

/* line 1, ../src/scss/component/_product-list.scss */
.product-list {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSItMTYuNjY2NjclIiBzdG9wLWNvbG9yPSIjY2NjY2NjIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 60, color-stop(-16.66667%, #cccccc), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(#cccccc -10px, #ffffff 60px);
  background-image: -webkit-linear-gradient(#cccccc -10px, #ffffff 60px);
  background-image: linear-gradient(#cccccc -10px, #ffffff 60px);
}

/* line 7, ../src/scss/component/_product-list.scss */
.product-list-header .title-bar {
  font-size: 21px;
}

/* line 21, ../src/scss/component/_product-list.scss */
.product-list-content {
  padding: 20px;
}

/* line 5, ../src/scss/component/_product-card.scss */
.card {
  float: left;
  width: 30%;
  margin: 20px 1.5%;
  color: #999;
  text-align: justify;
  border: 1px solid #CCC;
  overflow: hidden;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
/* line 15, ../src/scss/component/_product-card.scss */
.card p {
  padding: 0 10px;
}

/* line 23, ../src/scss/component/_product-card.scss */
.card-title {
  margin: 0;
}
/* line 28, ../src/scss/component/_product-card.scss */
.card-title a {
  display: block;
  line-height: 48px;
  text-align: center;
  color: white;
}

/* line 37, ../src/scss/component/_product-card.scss */
.card-content {
  padding: 10px;
}
/* line 40, ../src/scss/component/_product-card.scss */
.card-content .card-resume {
  height: 110px;
  margin-top: 0;
  overflow: hidden;
}
/* line 46, ../src/scss/component/_product-card.scss */
.card-content .image-link {
  display: block;
  text-align: center;
}
/* line 51, ../src/scss/component/_product-card.scss */
.card-content .size-small-card,
.card-content img {
  width: 200px;
  height: auto;
}
/* line 57, ../src/scss/component/_product-card.scss */
.card-content .more-info {
  display: block;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
  color: #666;
}
/* line 66, ../src/scss/component/_product-card.scss */
.card-content .buy-button {
  display: block;
  width: 100%;
  height: auto;
  padding: 12px;
  text-transform: uppercase;
  font-size: 23px;
  font-weight: 600;
}

/* line 1, ../src/scss/component/_product-banner.scss */
.product-banner {
  position: relative;
  min-height: 500px;
}

/* line 12, ../src/scss/component/_product-banner.scss */
.product-banner-content {
  position: absolute;
  top: 80px;
  left: 60px;
  right: 380px;
}

/* line 19, ../src/scss/component/_product-banner.scss */
.product-banner-text {
  padding: 20px 30px 10px 20px;
  background: rgba(0, 0, 0, 0.3);
  color: #FFF;
  font-size: 14px;
}
/* line 25, ../src/scss/component/_product-banner.scss */
.product-banner-text p {
  margin-top: 0;
}

/* line 30, ../src/scss/component/_product-banner.scss */
.product-banner-buybox {
  padding: 20px;
  background: #FFF;
}
/* line 34, ../src/scss/component/_product-banner.scss */
.product-banner-buybox .buy-button {
  width: 260px;
  height: 54px;
  margin-right: 30px;
  text-transform: uppercase;
  font-size: 23px;
  font-weight: 600;
}
/* line 43, ../src/scss/component/_product-banner.scss */
.product-banner-buybox .read-more {
  display: inline-block;
  vertical-align: middle;
  color: #CA4356;
}

/* line 52, ../src/scss/component/_product-banner.scss */
.product-banner-image {
  position: absolute;
  top: 40px;
  right: -20px;
}
/* line 57, ../src/scss/component/_product-banner.scss */
.product-banner-image img {
  width: 100%;
  height: auto;
}

/* line 1, ../src/scss/component/_product-description.scss */
.product-description {
  position: relative;
  background: #FFF;
  padding: 0 60px;
}
/* line 6, ../src/scss/component/_product-description.scss */
.product-description td {
  max-width: 50%;
  padding: 0 20px;
  vertical-align: top;
  text-align: justify;
}
/* line 13, ../src/scss/component/_product-description.scss */
.product-description .buy-button {
  width: 260px;
  height: 54px;
  margin-right: 30px;
  text-transform: uppercase;
  font-size: 23px;
  font-weight: 600;
}

/* line 23, ../src/scss/component/_product-description.scss */
.product-descriptio-header {
  text-align: center;
}

/* line 1, ../src/scss/component/_news.scss */
.news {
  background: #95CE5C;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI0MCUiIHN0b3AtY29sb3I9IiNhNmUxNmMiLz48c3RvcCBvZmZzZXQ9IjkyJSIgc3RvcC1jb2xvcj0iIzg3YmY0ZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #a6e16c), color-stop(92%, #87bf4f));
  background-image: -moz-linear-gradient(#a6e16c 40%, #87bf4f 92%);
  background-image: -webkit-linear-gradient(#a6e16c 40%, #87bf4f 92%);
  background-image: linear-gradient(#a6e16c 40%, #87bf4f 92%);
}

/* line 10, ../src/scss/component/_news.scss */
.news-content {
  display: table;
  width: 90%;
  margin: 0 auto;
}

/* line 17, ../src/scss/component/_news.scss */
.resume {
  display: table-cell;
  width: 50%;
  margin: 0px;
  padding: 30px 40px;
  color: #FFF;
}
/* line 25, ../src/scss/component/_news.scss */
.resume:first-child {
  color: #FFF;
  background: #87BF4F;
}
/* line 30, ../src/scss/component/_news.scss */
.resume:last-child {
  color: #5B9223;
  background: #A6E16C;
}
/* line 35, ../src/scss/component/_news.scss */
.resume img {
  width: 100%;
  height: auto;
}
/* line 40, ../src/scss/component/_news.scss */
.resume a {
  color: inherit;
}
/* line 44, ../src/scss/component/_news.scss */
.resume .title {
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  font-weight: 400;
}
/* line 55, ../src/scss/component/_news.scss */
.resume .resume-content {
  font-size: 18px;
}
/* line 61, ../src/scss/component/_news.scss */
.resume .read-more a {
  text-decoration: underline;
}
/* line 64, ../src/scss/component/_news.scss */
.resume .read-more a:hover {
  text-decoration: none;
}

/* line 1, ../src/scss/component/_colageno.scss */
.page-template-page-colageno {
  position: relative;
}
/* line 4, ../src/scss/component/_colageno.scss */
.page-template-page-colageno .page-default {
  background: #F55D6F;
  color: #FFF;
}

/* line 6, ../src/scss/component/_contact-form.scss */
.form-response {
  padding: 8px 20px;
  font-size: 14px;
  text-align: center;
}
/* line 11, ../src/scss/component/_contact-form.scss */
.form-response.success {
  color: darkgreen;
  background: #C4E5C4;
}
/* line 16, ../src/scss/component/_contact-form.scss */
.form-response.error {
  color: darkred;
  background: #FCDEDE;
}

/* line 27, ../src/scss/component/_contact-form.scss */
.contact-form {
  padding: 30px 40px;
  background: #FFF;
  color: #999;
}
/* line 32, ../src/scss/component/_contact-form.scss */
.contact-form .label {
  display: table-cell;
  width: 120px;
  vertical-align: top;
  padding-top: 6px;
}
/* line 40, ../src/scss/component/_contact-form.scss */
.contact-form .input, .contact-form textarea {
  display: table-cell;
  width: 100%;
}
/* line 46, ../src/scss/component/_contact-form.scss */
.contact-form .textarea {
  display: table-cell;
  width: 100%;
  height: auto;
}
/* line 55, ../src/scss/component/_contact-form.scss */
.contact-form .reset[type=reset],
.contact-form .submit[type=submit] {
  margin-left: 12px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
/* line 62, ../src/scss/component/_contact-form.scss */
.contact-form .reset[type=reset] {
  background: #FFF;
  color: #999;
  border: none;
}
/* line 69, ../src/scss/component/_contact-form.scss */
.contact-form .submit[type=submit] {
  background: #F55D6F;
  color: #FFF;
  text-transform: uppercase;
  border: none;
}
/* line 77, ../src/scss/component/_contact-form.scss */
.contact-form .form-info {
  font-size: 12px;
  color: #8b8b8b;
  text-align: center;
}
/* line 82, ../src/scss/component/_contact-form.scss */
.contact-form .form-info.error {
  color: red;
}
/* line 88, ../src/scss/component/_contact-form.scss */
.contact-form .line-field {
  display: table;
  width: 100%;
  margin-bottom: 8px;
}
/* line 93, ../src/scss/component/_contact-form.scss */
.contact-form .line-field.right {
  text-align: right;
}
/* line 98, ../src/scss/component/_contact-form.scss */
.contact-form .half-field {
  display: inline-block;
}
/* line 102, ../src/scss/component/_contact-form.scss */
.contact-form .half-field .input[name*=ddd], .contact-form .half-field textarea[name*=ddd] {
  width: 32px;
  margin-right: 4px;
  text-align: center;
}
/* line 108, ../src/scss/component/_contact-form.scss */
.contact-form .half-field .input[name*=number], .contact-form .half-field textarea[name*=number] {
  width: 90px;
  text-align: center;
}
/* line 113, ../src/scss/component/_contact-form.scss */
.contact-form .half-field .label {
  width: 42px;
  margin-left: 11px;
  display: inline-block;
}

/* line 1, ../src/scss/component/_contact-info.scss */
.contact-info-list {
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 9, ../src/scss/component/_contact-info.scss */
.contact-info-item {
  margin: 20px 0 60px;
}
/* line 12, ../src/scss/component/_contact-info.scss */
.contact-info-item .contact-icon {
  font-size: 38px;
  color: #95CE5C;
  background: #FFF;
  padding: 4px;
  margin-right: 20px;
  vertical-align: middle;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 23, ../src/scss/component/_contact-info.scss */
.contact-info-item .contact-text {
  display: inline-block;
  vertical-align: middle;
}
/* line 27, ../src/scss/component/_contact-info.scss */
.contact-info-item .contact-text a {
  color: #FFF;
}
/* line 30, ../src/scss/component/_contact-info.scss */
.contact-info-item .contact-text a:hover {
  text-decoration: underline;
}

/* line 1, ../src/scss/component/_page-default.scss */
.page-default {
  background: #F6F6F6;
}

/* line 3, ../src/scss/component/_post-list.scss */
.post-list-section {
  background: #FFF;
}
