// =======================================================
// Global Variables ======================================
// =======================================================

// Page ::::::::::::::::::::::::::::::::::::::::::::::::::
$page-min-width: 800px;
$page-max-width: 1260px;
$page-bg: #FFF;


// Breakpoint ::::::::::::::::::::::::::::::::::::::::::::
// @mixin breakpoint($point)
$laptop-max-width: 1020px;
$tablet-max-width: 880px;


// Colors ::::::::::::::::::::::::::::::::::::::::::::::::
$green: #95CE5C;
$dark-green: #5B9223;
$pink: #F55D6F;
$dark-pink: #DB5161;

// gray scale
$dark-gray: #333;
$gray: #666;
$light-gray: #999;
$light: #CCC;


// Font ::::::::::::::::::::::::::::::::::::::::::::::::::
$text-color: $light-gray;
$link-color: $green;
$link-over: $green;
$font-size: 18px;
$slide-time: .7s;


// Directories :::::::::::::::::::::::::::::::::::::::::::
$theme-path: "../";
$image-path: "../image/";
// $theme-path: "/gelsaude/dev-content/themes/gel-e-saude/";
// $image-path: "/gelsaude/dev-content/themes/gel-e-saude/image/";


// Compass Settings ::::::::::::::::::::::::::::::::::::::
// $browser-minimum-versions: ("ie": "9");
// $debug-browser-support: false;


