// =======================================================
// Form Elements =========================================
// =======================================================

// Settings ::::::::::::::::::::::::::::::::::::::::::::::
$input-height: 30px;


// Input Fields ::::::::::::::::::::::::::::::::::::::::::
.input,
input[type="text"],
input[type="search"],
textarea {
  padding: 4px;
  height: $input-height;
  border: 1px solid #DDD;
  background: #F9F9F9;
  // @include border-radius(4px);
  // @include box-sizing(border-box);
  @include transition(background 0.3s);

  &:focus {
    outline: none;
    background: #FFF;
    border-color: $link-over;
  }
}

textarea {
  @extend .input;
  height: auto;
}


// Buttons :::::::::::::::::::::::::::::::::::::::::::::::
.btn,
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  color: #FFF;
  padding: 6px 12px;
  height: $input-height;
  background: $green;
  border: 1px solid transparent;
  border-bottom-color: darken($green, 10%);
  @include border-radius(6px);

  &:hover,
  &:focus {
    outline: none;
    background: darken($green, 5%);
  }

  &:active {
    background: $green;
    border-bottom-color: transparent;
    border-top-color: darken($green, 20%);
  }
}

// saturate($color, $amount)
// desaturate($color, $amount)