// =======================================================
// Helpers ===============================================
// =======================================================

.post-edit-link {
  display: none;
}

// :::::::::::::::::::::::::::::::::::::::::::::::
.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// :::::::::::::::::::::::::::::::::::::::::::::::
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


// Image :::::::::::::::::::::::::::::::::::::::::::::::
.aligncenter {
  display: block;
  margin: 0 auto;
}



// Title bar :::::::::::::::::::::::::::::::::::::::::::
.title-bar {
  position: relative;
  top: 0px;
  left: 90px;
  display: inline-block;
  height: 65px;
  margin: 0;
  padding: 0 20px;
  font-size: 24px;
  line-height: 64px;
  background: url($image-path + "product-display.png") no-repeat center;
  color: $light-gray;

  &.center {
    left: auto;
    display: table;
    margin: 0 auto 40px;
    font-weight: 400;
    font-size: 22px
  }

  a {
    color: inherit;

    &:hover {
      color: $green;
    }
  }

  &:after,
  &:before {
    content: "";
    position: absolute;
    top: 0;
    width: 45px;
    height: 65px;
  }

   &:after {
    right: -45px;
    background: url($image-path + "product-display.png") no-repeat center right;
   }

  &:before {
    left: -45px;
    background: url($image-path + "product-display.png") no-repeat center left;
  }
}


.pink-bar {
  padding-bottom: 15px;
  // background: $pink;
  background: url($image-path + "blogblog.png") repeat-x center $pink;

  .title-bar {
    color: $pink;
  }
}