@font-face {
  font-family: 'icons-gelsaude';
  src: url('../font/icons-gelsaude.eot?12718288');
  src: url('../font/icons-gelsaude.eot?12718288#iefix') format('embedded-opentype'),
       url('../font/icons-gelsaude.woff2?12718288') format('woff2'),
       url('../font/icons-gelsaude.woff?12718288') format('woff'),
       url('../font/icons-gelsaude.ttf?12718288') format('truetype'),
       url('../font/icons-gelsaude.svg?12718288#icons-gelsaude') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons-gelsaude';
    src: url('../font/icons-gelsaude.svg?12718288#icons-gelsaude') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before,
 .contact-icon {
  font-family: "icons-gelsaude";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  // margin-right: .2em;
  // margin-left: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-twitter:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\e801'; } /* '' */
.icon-left-arrow:before { content: '\e802'; } /* '' */
.icon-gplus:before { content: '\e803'; } /* '' */
.icon-youtube:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\e805'; } /* '' */
.icon-phone:before { content: '\e806'; } /* '' */
.icon-right-arrow:before { content: '\e807'; } /* '' */
.icon-instagram:before { content: '\e808'; } /* '' */
.icon-location:before { content: '\e809'; } /* '' */
.icon-arroba:before { content: '\e80a'; } /* '' */
.icon-down:before { content: '\e80b'; } /* '' */