// =======================================================
// Reser Browser Elements ================================
// =======================================================

// Globals :::::::::::::::::::::::::::::::::::::::::::::::
html {
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: "Quicksand", sans-serif;
  // font-family: "Quicksand", "Josefin Sans", "Varela Round", sans-serif;
  color: $text-color;
}

body {
  // height: 100%;
  margin: 0;
  font-size: 17px;
  line-height: 1.2em;
  letter-spacing: -0.5px;
  background: $page-bg;
  overflow-x: hidden;
}

* {
  @include box-sizing(border-box);
}


p {
  margin: .6em 0;
}

// Links :::::::::::::::::::::::::::::::::::::::::::::::::
a {
  color: $link-color;
  text-decoration: none;
}

a:focus,
a:hover {
  color: $link-over;
  // color: darken($link-color, 25%);
}

a:focus {
  // outline: thin dotted;
}

a:active,
a:hover,
a:focus {
  outline: 0;
}


// Headers ::::::::::::::::::::::::::::::::::::::::::::::::
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 $font-size;
  line-height: $font-size * 1.5;
}

h1 {
  font-size: $font-size * 2;
}

h2 {
  font-size: $font-size * 1.7;
}

h3 {
  font-size: $font-size * 1.4;
}

h4 {
  font-size: $font-size * 1.1;
  font-weight: normal;
}

h5 {
  font-size: $font-size * 0.9;
}

h6 {
  font-size: $font-size * 0.7;
}


// Navigarion :::::::::::::::::::::::::::::::::::::::::::::
nav {
  ul {
    margin: 0;
    padding: 0;
  }
}


// Tables ::::::::::::::::::::::::::::::::::::::::::::::::
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td {
  vertical-align: top;
}



// ========================================================
// Print styles ===========================================
// ========================================================
@media print {
	* {
		background: transparent !important;
		color: #000 !important;
		box-shadow:none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		// border: 1px solid $text-color;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}

}
