// =======================================================
// Structure Configs =====================================
// =======================================================

// @include transform(translate(-50%, -50%));
// @include transition(top $slide-time ease-in-out);

// Containers ::::::::::::::::::::::::::::::::::::::::::::
.content-width {
  max-width: $page-max-width;
  min-width: $page-min-width;
  width: 100%;
  margin: 0 auto;
  @extend .clearfix;
}

.page-content {
  .content-width {
  }
}

.content-wrapper,
.section-wrapper,
.content-wrapper {
  padding: 20px 60px;
}

// Comprar online ::::::::::::::::::::::::::::::::::::::::




// Contact Section ::::::::::::::::::::::::::::::::::::::::
.contact-section {
  @extend .clearfix;
  margin-bottom: 20px;
  background: $green;
  color: #FFF;

  .the-content {
    margin-bottom: 60px;
  }

  .column-info {
    float: left;
    width: 38%;
  }

  .column-form {
    float: right;
    width: 60%;
  }
}