// Carousel :::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.carousel-slider {
  min-height: 452px;
  background: #FFF;

  .carousel-link {
    display: block;
  }

  .size-full,
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}


// Owl Controls :::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.owl-controls {
  text-align: center;
  height: 0;
}

.owl-pagination {
  display: inline-block;
  position: relative;
  top: -35px;
  padding: 4px;
  // background: rgba(#FFF, .4);
  @include border-radius(20px);
}

.owl-page {
  float: left;
  cursor: pointer;
  zoom: 1;

  span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 6px;

    // @include opacity(0.6);
    @include border-radius(20px);
    border: 2px solid #FFF;
    background: $light-gray;
  }

  &.active {
    span {
      background: $link-color;
      // @include opacity(1);
    }
  }
}



// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/*
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/* clearfix */
.carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.carousel{
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.carousel .owl-wrapper{
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.carousel .owl-wrapper-outer{
  overflow: hidden;
  position: relative;
  width: 100%;
}
.carousel .owl-wrapper-outer.autoHeight{
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

.carousel .owl-item{
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing {
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.carousel  .owl-wrapper,
.carousel  .owl-item{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}