.contact-info-list {
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact-info-item {
  margin: 20px 0 60px;

  .contact-icon {
    font-size: 38px;
    color: $green;
    background: #FFF;
    padding: 4px;
    margin-right: 20px;
    vertical-align: middle;
    @include border-radius(30px);
    @include box-sizing(content-box);
  }

  .contact-text {
    display: inline-block;
    vertical-align: middle;

    a {
      color: #FFF;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}