.contact-form-wrapper {

}


.form-response {
  margin-bottom: 10px;
  padding: 8px 20px;
  font-size: 14px;
  text-align: center;

  &.success {
    color: darkgreen;
    background: #C4E5C4;
    // border: 1px solid green;
  }
  &.error {
    color: darkred;
    background: #FCDEDE;
    // border: 1px solid #C00;
  }

  .response-message {}
}



.contact-form {
  padding: 30px 40px;
  background: #FFF;
  color: $text-color;

  .label {
    // display: inline-block;
    display: table-cell;
    width: 120px;
    vertical-align: top;
    padding-top: 6px;
  }

  .input {
    // width: 320px;
    display: table-cell;
    width: 100%;
  }

  .textarea {
    // width: 320px;
    display: table-cell;
    width: 100%;
    height: auto;
  }


  // Form buttons :::::::::::::::::::::::::::::::::::
  .reset[type=reset],
  .submit[type=submit] {
    // padding: 8px 12px;
    margin-left: 12px;
    line-height: 10px;
    @include border-radius(0px);
  }

  .reset[type=reset] {
    background: #FFF;
    color: $text-color;
    border: none;
    // border: 1px solid #DDD;
  }

  .submit[type=submit] {
    background: $pink;
    color: #FFF;
    text-transform: uppercase;
    border: none;
  }


  .form-info {
    font-size: 12px;
    color: #8b8b8b;
    text-align: center;

    &.error {
      color: red;
    }
  }

  // lines fields :::::::::::::::::::::::::::::::::::
  .line-field {
    display: table;
    width: 100%;
    margin-bottom: 8px;

    &.right {
      text-align: right;
    }
  }

  .half-field {
    display: inline-block;

    .input[name*=ddd] {
      float: left;
      width: 10%;
      text-align: center;
    }

    .input[name*=number] {
      float: left;
      width: 28%;
      margin-left: 2%;
      text-align: center;
    }

    .label {
      float: left;
      width: 18%;
      margin-right: 2%;
      text-align: right;
    }
  }


}

.form-info {
  text-align: center;
}