// =======================================================
// Footer Component ======================================
// =======================================================

// Settings ::::::::::::::::::::::::::::::::::::::::::::::
$infobar-height: 200px;
$copybar-height: 60px;


// Footer ::::::::::::::::::::::::::::::::::::::::::::::::
.site-footer {
  color: #FFF;

  a {
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  @include breakpoint(laptop) {
    font-size: 14px;
  }

  .content-width {}
}


// Footer Bar ::::::::::::::::::::::::::::::::::::::::::::
.footer-bar {
  min-height: $infobar-height;
  background: $pink;
  padding: 20px 0;

  .content-width {
    display: table;
    height: 100%;
  }

  .footer-info {
    display: table-row;
  }
}

.footer-logo-area,
.footer-contact-area,
.footer-social-area {
  display: table-cell;
  height: 130px;
}


// Footer Logo :::::::::::::::::::::::::::::::::::::::::::
.footer-logo-area {
  width: 30%;
  vertical-align: middle;

  .logo-footer {
    display: block;
    width: 200px;
    height: inherit;
    background: url($image-path + "logo-gel-e-saude-footer.png") no-repeat center;
    margin: 0 auto;
    font-size: 0;
  }
}

// Footer Contact ::::::::::::::::::::::::::::::::::::::::
.footer-contact-area {
  width: 40%;

  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
  // width: 480px;
  // padding: 0 40px;

  .contact-content {
    width: 300px;
    margin: 0 auto;

    @include breakpoint(laptop) {
      width: 260px;
      line-height: 18px;
    }
  }

  .contact-title {
    font-size: 21px;

    @include breakpoint(laptop) {
      font-size: 19px;
    }
  }

  .contact-title,
  .contact-text {
    margin: 0 0 8px;
    // text-indent: 40px;
  }
}


// Footer Social :::::::::::::::::::::::::::::::::::::::::
.footer-social-area {
  width: 30%;
  vertical-align: middle;
}

.social-content {
  width: 220px;
  margin: 0 auto;

  @include breakpoint(laptop) {
    width: 200px;
  }
}

.social-title {
  font-size: 21px;
  margin: 0 0 20px;

  @include breakpoint(laptop) {
    font-size: 19px;
  }
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-item {
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 20px;

  // @include breakpoint(laptop) {
  // }
}

.social-link {
  width: inherit;
  height: inherit;
  display: inline-block;
  font-size: 0;

  &:hover {
    .icon {
      @include transform(scale(1.3));
      @include box-shadow(2px 4px 8px rgba(#000, .2));
    }
  }

  .icon {
    display: inline-block;
    width: inherit;
    height: inherit;
    font-size: 18px;
    color: $pink;
    padding: 4px;
    background: #BBB;
    background: #FFF;
    overflow: hidden;
    @include border-radius(20px);
    @include transition(all 0.3s ease-out);
    // @include breakpoint(laptop) {
    // }
  }
}


// Copyright Bar :::::::::::::::::::::::::::::::::::::::::
.copyright-bar {
  height: $copybar-height;
  background: $dark-pink;

  p {
    margin: 0;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.5px;
    margin-top: 23px;
  }
}