// =======================================================
// Header Component ======================================
// =======================================================

// Settings ::::::::::::::::::::::::::::::::::::::::::::::
$header-width: 200px;
$header-height: 100px;

$menu-color: #AAA;
$menu-over: $green;
$menu-height: $header-height /2;
$menu-padding: $header-height /4;


$height: $header-height;
$height-diff: ($height - 4px);


// Logged Bar - fix ::::::::::::::::::::::::::::::::::::::
.logged-in.admin-bar .site-header {
  // top: 32px;
}

// Header fixed - fix ::::::::::::::::::::::::::::::::::::
body {
  padding-top: $header-height;
}

// Header ::::::::::::::::::::::::::::::::::::::::::::::::
.site-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: $header-height;
  z-index: 9;

  .content-width {}
}

.header-move {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  color: #FFF;
  background: #FFF;
  border-top: 2px solid #FFF;
  border-bottom: 2px solid $link-color;
  z-index: 10;
  // @include box-shadow(0 4px 20px -4px rgba(#000, .3));
  @include transition(box-shadow .8s);
  @include box-shadow(0 0px 0px 0px rgba(#000, 0));

  &.shadow {
    @include box-shadow(0 4px 20px -2px rgba(#000, .2));
  }

  &.fixed {
    position: fixed;
  }
  &.animate {
    @include transition(all .8s ease-in-out);
    // @include transition(top .8s ease-in-out);
  }
}

.header-title {
  float: left;
  width: 20%;
  height: $header-height;
  margin: 0;
  padding: 10px;
  font-size: 21px;
  text-align: center;
  text-decoration: none;
  line-height: $header-height;
}

.header-logo {
  display: block;
  height: 100%;
  font-size: 0;
  background: url($image-path + "logo-gel-e-saude.png") no-repeat center;
  background-size: auto 100%;

  @include breakpoint(laptop) {
    background-size: 100%;
  }
  @include breakpoint(tablet) {
    background-size: 100%;
  }
}


// Menu :::::::::::::::::::::::::::::::::::::::::::::::::
.left-nav,
.right-nav {
  width: 40%;
  display: table;
  padding: $menu-padding 0;
  // padding: 30px 0;
}

.left-list,
.right-list {
  display: table-row;
}

.left-nav {
  float: left;
}

.right-nav {
  float: right;
}

.menu-item {
  display: table-cell;


  a {
    display: block;
    height: $menu-height;
    line-height: $menu-height;
    font-size: 22px;
    text-align: center;
    color: $menu-color;
    white-space: nowrap;

    &:hover {
      color: $menu-over;
    }

    @include breakpoint(laptop) {
      font-size: 21px;
    }

    @include breakpoint(tablet) {
      font-size: 19px;
    }
  }
}

// .current_page_parent
.current-menu-ancestor,
.current-menu-item {
  a {
    color: $menu-over;
  }
}

// Submenu ::::::::::::::::::::::::::::::::::::::::::::
.menu-item-has-children {
  .sub-menu {
    display: none;
  }

  .menu-item {
    display: block;
    border-top: 1px solid rgba(#FFF, 0.7);

    a {
      height: 40px;
      line-height: 40px;
      font-size: 18px;

      @include breakpoint(laptop) {
        font-size: 17px;
      }

      @include breakpoint(tablet) {
        font-size: 16px;
      }

    }
  }

  &:hover {
    background: $green;
    @include box-shadow(1px 4px 8px rgba(#000, .2));

    a {
      color: #FFF;
    }

    .sub-menu {
      display: block;

      a {
        color: rgba(#FFF, 0.8);

        &:hover {
          background: $green;
          color: #FFF;
          font-weight: bold;
        }
      }

    }
  }
}