.news {
  // min-height: 500px;
  background: $green;
  @include background-image(linear-gradient(#A6E16C 40%, #87bf4f 92%));
  border-bottom: 40px solid #FFF;

  .content-wrapper {
  }
}

.news-content {
  display: table;
  width: 90%;
  margin: 0 auto;
}


.resume {
  display: table-cell;
  width: 50%;
  margin: 0px;
  padding: 30px 40px;
  color: #FFF;
  // border: 1px solid #DDD;

  &:first-child {
    color: #FFF;
    background: #87BF4F;
  }

  &:last-child {
    color: $dark-green;
    background: #A6E16C;
  }

  img {
    width: 100%;
    height: auto;
  }

  a {
    color: inherit;
  }

  .title {
    // height: 65px;
    // color: #FFF;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    font-weight: 400;

  }


  .resume-content {
    font-size: 18px;

  }

  .read-more {
    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }

    }
  }
}

