
.post-list-section {
  background: #FFF;

  .title-bar {
    text-transform: capitalize;
  }
}

.post-list,
.post-single {
  margin: 40px 0;
  padding: 20px 0;
  line-height: 1.2em;
  // border-bottom: 4px dotted $light;

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    margin-top: 20px;
    background: url($image-path + "dotted-bar.png") repeat center;
  }
}

.post-title {
  font-size: 36px;
  line-height: 38px;

  a {
    color: $text-color;

    &:hover {
      color: $link-color
    }
  }
}

.post-info {
  margin-bottom: 20px;
  font-style: italic;
  font-size: 16px;
}

.the-excerpt {

}

.featured-image {
  img {
    max-width: 100%;
    height: auto;
  }
}