body {}

.card {
  // float: left;
  display: inline-block;
  width: 30%;
  max-width: 350px;
  margin: 20px 1.5%;
  color: #999;
  text-align: justify;
  border: 1px solid #CCC;
  overflow: hidden;
  @include border-radius(8px);

  p {
    padding: 0 10px;
  }
}

// Header :::::::::::::::::::::::::::::::::::::::
.card-header {}

.card-title {
  margin: 0;

  a {
    display: block;
    line-height: 48px;
    text-align: center;
    color: white;
  }
}

// Content :::::::::::::::::::::::::::::::::::::::
.card-content {
  padding: 10px;

  .card-resume {
    height: 120px;
    margin-top: 0;
    overflow: hidden;
  }

  .image-link {
    display: block;
    text-align: center;
  }

  .size-small-card,
  img {
    width: 200px;
    height: auto;
  }

  .more-info {
    display: block;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    color: #666;
  }

  .buy-button {
    display: block;
    width: 100%;
    height: auto;
    padding: 12px;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 600;
  }
}