.product-description {
  position: relative;
  background: #FFF;
  padding: 0 60px;

  td {
    width: 50%;
    padding: 0 20px;
    vertical-align: top;
    text-align: justify;
  }

  .buy-button {
    width: 260px;
    height: 54px;
    margin-right: 30px;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 600;
  }
}

.product-descriptio-header {
  text-align: center;
}

.product-description-title {
  // @extend .title-bar;
  // font-size: 21px;
  // margin-bottom: 40px;
  // font-weight: 400;
}

.product-description-buybox {
  margin: 40px 0;
  text-align: center;
}