.product-list {
  // min-height: 500px;
  @include background(linear-gradient($light -10px, white 60px));

  .content-width {
    text-align: center;
  }
}

.product-list-header {
  .title-bar {
    font-size: 21px;
  }
}


.product-list-content {
  padding: 20px;
}


