.product-banner {
  position: relative;
  min-height: 500px;
}


// Banner title :::::::::::::::::::::::::::::::::::::::::::
.product-banner-title {}


// Banner content :::::::::::::::::::::::::::::::::::::::::::
.product-banner-content {
  position: absolute;
  top: 80px;
  left: 60px;
  right: 340px;
  line-height: 1.25em;

  @include breakpoint(laptop) {
    font-size: 16px;
  }

  @include breakpoint(tablet) {
    font-size: 15px;
  }
}

.product-banner-text {
  padding: 20px 80px 10px 20px;
  background: rgba(#000, 0.4);
  height: 280px;
  color: #FFF;
  overflow: auto;

  p {
    margin-top: 0;
  }
}

// hidden peptderm product-banner-text
.postid-18 .product-banner-text {
  background: transparent;
}

.product-banner-buybox {
  padding: 20px;
  background: #FFF;

  form {
    display: inline-block;
  }

  .buy-button {
    width: 260px;
    height: 54px;
    margin-right: 30px;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 600;
    vertical-align: middle;
  }

  .read-more {
    font-size: 18px;
    color: #CA4356;
    display: inline-block;
    vertical-align: middle;

    @include breakpoint(laptop) {
      display: none;
    }

    @include breakpoint(tablet) {
      display: none;
    }
  }
}


// Banner image :::::::::::::::::::::::::::::::::::::::::::::
.product-banner-image {
  position: absolute;
  top:40px;
  right: -20px;

  img {
    width: 100%;
    height: auto;
  }

  // @include breakpoint(tablet) {
  //   width: 400px;
  // }
  // @include breakpoint(laptop) {
  //   width: 400px;
  // }
}