// =======================================================
// IE styles hacks =======================================
// =======================================================

body {
  // background: red;
}

// News ::::::::::::::::::::::::::::::::::::::::::::::::::
.resume {}


.product-list {
  background: #FFF;
}